.homePopular {
  padding: 15px 40px;
  margin-top: 15px;
  z-index: 555;
  .homePopularHeader {
    display: flex;
    align-items: center;
    h2 {
      font-weight: 600;
    }
    .homePopularSelector {
      display: flex;
      align-items: center;
      margin-left: 30px;
      border: 1px solid rgba(3, 37, 65, 0.952);
      border-radius: 20px;
      height: 30px;
      .button {
        padding: 4px 15px;
        cursor: pointer;
        font-weight: 600;
      }
      .button-active {
        background-color: rgba(3, 37, 65, 0.952);
        border-radius: 20px;
        color: #1ed5a9;
      }
    }
  }
}
