.popularMoviesWrapper {
  padding: 30px;
  h2 {
    font-weight: 600;
  }
  .popularMovies {
    display: flex;
    justify-content: space-between;
    .popularMoviesLeft {
      width: 20%;
      margin-top: 20px;
      .popularMoviesCard {
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
        .cardHeaderTitle {
          display: flex;
          padding: 12px 15px;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          span {
            font-weight: 600;
            font-size: 18px;
          }
        }
        .cardBody-wrapper {
          .cardBody-sort {
            padding: 12px 15px;
            .cardBody-title {
              color: gray;
              font-weight: 400;
              font-size: 16px;
              margin-bottom: 10px;
            }
            .cardBody-select {
              width: 100%;
              padding: 0px 10px;
              height: 35px;
              border-radius: 5px;
              background-color: #e4e7eb;
              border: none;
              font-size: 14px;
              &:focus {
                outline: none;
              }
            }
          }
          .cardBody-showMe {
            padding: 12px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .cardBody-title {
              color: gray;
              font-weight: 400;
              font-size: 16px;
            }
            .cardBody-inputWrapper {
              margin: 5px 0px;
              display: flex;
              align-items: center;
              input {
                cursor: pointer;
                margin-right: 5px;
              }
              label {
                cursor: pointer;
              }
            }
          }
          .cardBody-availabilities {
            padding: 12px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .cardBody-title {
              color: gray;
              font-weight: 400;
              font-size: 16px;
              margin-bottom: 10px;
            }
            .cardBody-inputWrapper {
              display: flex;
              align-items: center;
              input {
                cursor: pointer;
                margin-right: 5px;
              }
              label {
                cursor: pointer;
              }
            }
          }
          .cardBody-releaseDates {
            padding: 12px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .cardBody-title {
              color: gray;
              font-weight: 400;
              font-size: 16px;
              margin-bottom: 10px;
            }
            .cardBody-inputWrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 10px 0px;
              input {
                cursor: pointer;
                margin-right: 5px;
                height: 30px;
                padding: 0px 10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                &:focus {
                  outline: none;
                }
              }
              label {
                cursor: pointer;
              }
            }
          }
          .cardBody-genres {
            padding: 12px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .cardBody-title {
              color: gray;
              font-weight: 400;
              font-size: 16px;
              margin-bottom: 15px;
            }
            .cardBody-inputWrapper {
              display: flex;
              flex-wrap: wrap;
              span {
                border-radius: 30px;
                border: 1px solid #9e9e9e;
                padding: 3px 12px;
                margin-right: 10px;
                font-size: 14px;
                margin-bottom: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .popularMoviesRight {
      width: 77.5%;
      display: flex;
      flex-wrap: wrap;

      .popularMoviesCard {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
        width: 173px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.08);
        padding-bottom: 20px;
        border: rgba(0, 0, 0, 0.2) 1px solid;
        .popularMoviesImage {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          width: 100%;
          height: 262px;
        }
        small {
          position: absolute;
          top: 245px;
          left: 10px;
          height: 30px;
          width: 30px;
          font-weight: 800;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: black;
          border: 2px solid green;
          box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
          background-color: white;
        }
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          &:hover {
            color: #01b4e4;
          }
          h4 {
            margin-top: 25px;
            margin-left: 10px;
          }
        }
        span {
          margin-left: 10px;
        }
      }

      .popularButton {
        margin-top: 30px;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: rgb(1, 180, 228);
        justify-content: center;
        border-radius: 8px;
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
