.footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: white;
}

.footerBox {
  padding: 20px;
}

.footerBoxImage {
  height: 100px;
  margin-left: 65px;
}

.footerBoxUsername {
  background-color: white;
  color: green;
  font-size: 22px;
  padding: 3px 5px;
  border-radius: 5px;
  margin-top: 15px;
}

.footerBoxTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footerBoxNav {
  list-style: none;
}

.footerBoxItem {
  margin: 7px 0px;
  font-size: 16px;
  cursor: pointer;
}
